# Ignore specific PDFs
documentation/Solving_the_Subset_Sum_Problem_via_Quantum_Walk_Search.pdf
documentation/ex_SSP_by_QW.pdf
Documentation/Solving_the_Subset_Sum_Problem_via_Quantum_Walk_Search.pdf
Documentation/ex_SSP_by_QW.pdf
